
@import url('https://fonts.googleapis.com/css2?family=Kiwi+Maru&display=swap'); /* Importacion de la fon Kiwi Maru */
@import url('https://fonts.googleapis.com/css2?family=Koh+Santepheap:wght@100;300;400;700;900&display=swap'); /* Importacion de la fon Koh Santepheap */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Kiwi Maru", serif;
    font-size: 25px;
    letter-spacing: 2px;
    color: #ffffff;
}

/* -------------------------------------------------------------------------------------------- Index ------------------- */

/* Fondo */
.background{
    width: 100%;
    height: 730px;
    background-image: url(img/gvbn.jpg);
    background-size: cover;
    background-position: center center;
}

/* Contenedor del nav principal */
.nav-container{
    position: fixed;
    display: flex;
    flex-direction: row-reverse;
    padding: 15px;
    background-color:  #be3144;
    width: 100%;
    height: 70px;
}

/* Especificaciones en el texto del nav */
.elemento-nav{
    margin: 0 60px;
    font-size: 25px;
}

/* Especificaciones en el texto del eslogan */
.eslogan{
    display: flex;
    text-align: left;
    padding: 100px 50px;
    font-size: 110px;
    font-family: "Koh Santepheap", serif;
    font-weight: 650;
    font-style: normal;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: black;
}

/* -------------------------------------------------------------------------------------------- Sobre nosotros ------------------- */

/* Fondo solido, gris oscuro, de fondo */
.us-background{
    display: flex;
    justify-content: center;
    background-color: #303841;
    width: 100%;
    height: 650px;
}

/* Fondo solido, gris claro, de fondo */
.us-container{
    display: flex;
    background-color: #3a4750;
    width: 85%;
    height: 650px;
}

/* Especificaciones del contenedor */
.us-txt-container{
    width: 50%;
    height: 650px;
    padding: 60px;
}

/* Especificaciones del texto */
.txt-us{
    text-align: justify;
    font-size: 30px;
}

/* -------------------------------------------------------------------------------------------- Ubicacion ------------------- */

/* CSS reutilizado de us, a excepcion de los botones para hacer reserva y ver menu */
.ctr-zn{
    margin: 30px;
    padding: 15px;
    background-color: #be3144;
    text-align: center;
}

/* Y el titulo */
.txt-zn{
    text-align: center;
    font-size: 35px;
}

/* -------------------------------------------------------------------------------------------- Especialidades ------------------- */

/* Background de la seccion */
.sp-container{
    background-color: #d3d6db;
    width: 100%;
    height: 650px;
}

/* Especificaciones en la font del titulo */
.sp-tit{
    text-align: center;
    font-size: 50px;
    color: #000000;
    padding: 50px;
}

/* -------------------------------------------------------------------------------------------- Reservaciones ------------------- */

/* Fondo trasero, gris oscuro, del html */
.res-background{
    display: flex;
    justify-content: center;
    background-color: #303841;
    width: 100%;
    height: 730px;
}

/* Fondo superior, gris claro, del html */
.res-container{
    background-color: #d3d6db;
    width: 70%;
    height: 730px;
}

/* Especificaciones para la font del titulo, con mayor padding al ser la primera y, por consiguiente,  tener el nav */

.res-tit{
    text-align: center;
    font-size: 50px;
    color: #000000;
}

/* El resto de titulos reutilizan el css "sp-tit" de especialidades */

.res-txt{
    text-align: center;
    font-size: 25px;
    color: #000000;
}

/* -------------------------------------------------------------------------------------------- Extras ------------------- */

/* Separador entre secciones */
.sep{
    background-color:  #000000;
    width: 100%;
    height: 60px;
}

/* Contenedor final */
.footer{
    background-color:  #be3144;
    width: 100%;
    height: 50px;
}